<li class="collection-item" data-id="{{id}}" data-selected="{{selected}}">
	
	<div>{{day}}||{{date}}||{{title}}||{{park}}||{{rating}}

		<a href="#!" class="secondary-content"><input type="checkbox" data-id="{{this.id}}" />
			<label for="{{this.id}}">Add</label>
		</a>

	</div>

	</li>